.inputDiv {
    min-height: 25px;
    max-height: 200px;
    width: 100%;
    overflow-x: hidden;
    padding-block: 0.5rem;
    padding-inline: 0.4rem;
    overflow-y: scroll;
    outline: 0;
    /* word-wrap: break-word; */
    /* display: inline-flex;
    align-items: center; */
}

.inputDiv::-webkit-scrollbar {
    width: 0px;
}