body {
    background-color: #000000;
    box-sizing: border-box;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

.heavyFont {
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.lightFont {
    font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.App {
  min-height: 100vh;
}

.link {
    color: rgb(29, 155, 240);
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    color: white;
    background: #ffffff;
    border-radius: 50%;

    bottom: -1px;
    pointer-events: none;

}

.Container {
    position: relative;
    width: 100%;
    z-index: 100000;
    height: 100vh;
}

.post__btns > button {
    border: solid 1px black;
    padding: 2px 15px;
    transition: all 0.4s;
}

.post__btns > button:hover {
    background-color: black;
    color: white;
}

.post__btns > button:active {
    background: #ec0000;
}

.post__btns > button:focus-within {
    background-color: black;
    color: white;
}

.Bg {
    width: 100%;
    height: 100%;
    background-color: rgba(91, 112, 131, 0.4);
  display: flex;
  justify-content: center;
    align-items: center;
}
